<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitvalue.edgecache.dao.IpMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bitvalue.edgecache.entity.Ip">
		<id column="id" property="id" />
		<result column="ip" property="ip" />
		<result column="port" property="port" />
		<result column="domain_id" property="domainId" />

    </resultMap>
    <!-- 通用查询结果 -->
    <sql id="Base_Column_List">
		id
		,ip
		,port
		,domain_id

    </sql>
    <!-- 通用查询条件 -->
    <sql id="Base_Criteria">
        <if test="id != null and id != ''" > AND id = #{id}</if>
        <if test="ip != null and ip != ''" > AND ip = #{ip}</if>
        <if test="port != null and port != ''" > AND port = #{port}</if>
        <if test="domainId != null and domainId != ''" > AND domain_id = #{domainId}</if>

    </sql>

</mapper>
