<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitvalue.edgecache.dao.MachineMaintenanceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bitvalue.edgecache.entity.MachineMaintenance">
		<id column="id" property="id" />
		<result column="machine_id" property="machineId" />
		<result column="ip" property="ip" />
		<result column="port" property="port" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="update_time" property="updateTime" />

    </resultMap>
    <!-- 通用查询结果 -->
    <sql id="Base_Column_List">
		id
		,machine_id
		,ip
		,port
		,username
		,password
		,role
		,update_time

    </sql>
    <!-- 通用查询条件 -->
    <sql id="Base_Criteria">
        <if test="id != null and id != ''" > AND id = #{id}</if>
        <if test="machineId != null and machineId != ''" > AND machine_id = #{machineId}</if>
        <if test="ip != null and ip != ''" > AND ip = #{ip}</if>
        <if test="port != null and port != ''" > AND port = #{port}</if>
        <if test="username != null and username != ''" > AND username = #{username}</if>
        <if test="password != null and password != ''" > AND password = #{password}</if>
        <if test="role != null and role != ''" > AND role = #{role}</if>
        <if test="updateTime != null and updateTime != ''" > AND update_time = #{updateTime}</if>

    </sql>

</mapper>
