<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitvalue.edgecache.dao.MachineCacheMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bitvalue.edgecache.entity.MachineCache">
		<id column="id" property="id" />
		<result column="machine_id" property="machineId" />
		<result column="server_ip" property="serverIp" />
		<result column="server_port" property="serverPort" />
		<result column="install_dir" property="installDir" />
		<result column="install_version" property="installVersion" />
		<result column="using" property="using" />
		<result column="default" property="default" />

    </resultMap>
    <!-- 通用查询结果 -->
    <sql id="Base_Column_List">
		id
		,machine_id
		,server_ip
		,server_port
		,install_dir
		,install_version
		,using
		,default

    </sql>
    <!-- 通用查询条件 -->
    <sql id="Base_Criteria">
        <if test="id != null and id != ''" > AND id = #{id}</if>
        <if test="machineId != null and machineId != ''" > AND machine_id = #{machineId}</if>
        <if test="serverIp != null and serverIp != ''" > AND server_ip = #{serverIp}</if>
        <if test="serverPort != null and serverPort != ''" > AND server_port = #{serverPort}</if>
        <if test="installDir != null and installDir != ''" > AND install_dir = #{installDir}</if>
        <if test="installVersion != null and installVersion != ''" > AND install_version = #{installVersion}</if>
        <if test="using != null and using != ''" > AND using = #{using}</if>
        <if test="default != null and default != ''" > AND default = #{default}</if>

    </sql>

</mapper>
