<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitvalue.edgecache.dao.StatisticsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bitvalue.edgecache.entity.Statistics">
		<id column="id" property="id" />
		<result column="http" property="http" />
		<result column="dns" property="dns" />
		<result column="type" property="type" />
		<result column="time" property="time" />

    </resultMap>
    <!-- 通用查询结果 -->
    <sql id="Base_Column_List">
		id
		,http
		,dns
		,type
		,time

    </sql>
    <!-- 通用查询条件 -->
    <sql id="Base_Criteria">
        <if test="id != null and id != ''" > AND id = #{id}</if>
        <if test="http != null and http != ''" > AND http = #{http}</if>
        <if test="dns != null and dns != ''" > AND dns = #{dns}</if>
        <if test="type != null and type != ''" > AND type = #{type}</if>
        <if test="time != null and time != ''" > AND time = #{time}</if>

    </sql>

</mapper>
