<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>safeLog</title>
    <th:block th:replace="head::jsCss"></th:block>
</head>
<body>
<div class="">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" style="padding-bottom: 0">
            <form class="layui-form">
                <div class="layui-form-item">
                    <!--<div class="layui-inline layui-show-xs-block">
                        <input type="text" name="username" placeholder="用户名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" name="terminal" placeholder="终端" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" name="connected" placeholder="登录IP或者内核" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" name="start" placeholder="登陆时间" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" name="end" placeholder="结束状态" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" name="still" placeholder="持续时间" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" name="line" placeholder="整行" autocomplete="off" class="layui-input">
                    </div>-->
                    <div class="layui-inline layui-show-xs-block">
                        <select name="status" class="layui-select">
                            <option value="">全部</option>
                            <option value="成功">登陆成功</option>
                            <option value="失败">登陆失败</option>
                        </select>
                    </div>
                    <div class="layui-inline layui-btn-group layui-anim layui-anim-scaleSpring">
                        <button class="layui-btn" lay-submit lay-filter="list-table-search" title="查询">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button class="layui-btn" lay-submit lay-filter="list-table-reset" title="重置">
                            <i class="layui-icon layui-icon-refresh-1 layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <table id="list-table" lay-filter="list-table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="table-toolbar-head">
    <!--<button class="layui-btn layui-btn-radius layui-btn-sm layui-anim layui-anim-scaleSpring" lay-event="add">
        <i class="layui-icon">&#xe608;</i>添加
    </button>
    <button class="layui-btn layui-btn-radius layui-btn-sm layui-anim layui-anim-scaleSpring" lay-event="batchDel">
        <i class="layui-icon">&#xe640;</i>删除
    </button>-->
</script>
<script type="text/html" id="table-toolbar-column">
    <a class="layui-btn layui-btn-normal layui-btn-xs layui-anim layui-anim-scaleSpring" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-anim layui-anim-scaleSpring" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>删除
    </a>
</script>
<script>
    layui.use(['index', 'custom-safeLog', 'table']);
</script>
</body>
</html>
