<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <title>sysLog</title>
  <th:block th:replace="head::jsCss"></th:block>
</head>
<body>
  <div class="layui-form" lay-filter="form-add-edit" id="form-add-edit" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id">

    <div class="layui-form-item">
      <label class="layui-form-label">module</label>
      <div class="layui-input-block">
        <input type="text" name="module" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">操作类型</label>
      <div class="layui-input-block">
        <input type="text" name="type" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">匹配的类.方法</label>
      <div class="layui-input-block">
        <input type="text" name="codeMethod" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">IP</label>
      <div class="layui-input-block">
        <input type="text" name="ip" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">请求url</label>
      <div class="layui-input-block">
        <input type="text" name="url" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">请求方法</label>
      <div class="layui-input-block">
        <input type="text" name="httpMethod" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">请求参数</label>
      <div class="layui-input-block">
        <input type="text" name="params" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">返回参数</label>
      <div class="layui-input-block">
        <input type="text" name="result" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">操作状态（0正常 1异常）</label>
      <div class="layui-input-block">
        <input type="text" name="status" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">错误消息</label>
      <div class="layui-input-block">
        <input type="text" name="errorMsg" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">日志时间</label>
      <div class="layui-input-block">
        <input type="text" name="time" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="form-add-submit" id="form-add-submit" value="add">
      <input type="button" lay-submit lay-filter="form-edit-submit" id="form-edit-submit" value="edit">
    </div>
  </div>
  </div>
</body>
<script>
  layui.use(['form'],function () {
    var $ = layui.$,
        form = layui.form;
  });
</script>
</html>
