<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="[package].dao.[Table2]Mapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="[package].entity.[Table2]">
<mapper.key.txt><mapper.nokey.txt>
    </resultMap>
    <!-- 通用查询结果 -->
    <sql id="Base_Column_List">
<column.key.txt><column.nokey.txt>
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Base_Criteria">
<mapper-criteria.txt>
    </sql>

</mapper>