<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>machineCacheStorage</title>
    <th:block th:replace="head::jsCss"></th:block>
</head>
<body>
<div class="layui-form" lay-filter="form-add-edit" id="form-add-edit" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id">

    <div class="layui-form-item">
        <label class="layui-form-label">缓存配置ID</label>
        <div class="layui-input-block">
            <input type="text" name="cacheId" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">存储空间类型</label>
        <div class="layui-input-block">
            <input type="text" name="type" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">存储控件位置</label>
        <div class="layui-input-block">
            <input type="text" name="path" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">存储空间大小</label>
        <div class="layui-input-block">
            <input type="text" name="size" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="form-add-submit" id="form-add-submit" value="add">
        <input type="button" lay-submit lay-filter="form-edit-submit" id="form-edit-submit" value="edit">
    </div>
</div>
</div>
</body>
<script>
    layui.use(['form'], function () {
        var $ = layui.$,
            form = layui.form,
            moduleUrl = "/machine_cache_storage/";
        setTimeout(function () {
            form.render();
        },100);
    });
</script>
</html>
