<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>wafRule</title>
    <th:block th:replace="head::jsCss"></th:block>
</head>
<body>
<div class="layui-form" lay-filter="form-add-edit" id="form-add-edit" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id">

    <div class="layui-form-item">
        <label class="layui-form-label">规则类型</label>
        <div class="layui-input-block">
            <select name="ruleType" class="layui-select">
                <option value="">请选择</option>
                <option value="args">args</option>
                <option value="blackip">blackip</option>
                <option value="cookie">cookie</option>
                <option value="post">post</option>
                <option value="url">url</option>
                <option value="useragent">useragent</option>
                <option value="whiteip">whiteip</option>
                <option value="whiteurl">whiteurl</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">规则</label>
        <div class="layui-input-block">
            <textarea type="text" rows="14" name="ruleItem" lay-verify="required" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">1：待同步 2：同步成功 3：同步失败</label>
        <div class="layui-input-block">
            <input value="1" type="text" name="syncStatus" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="form-add-submit" id="form-add-submit" value="add">
        <input type="button" lay-submit lay-filter="form-edit-submit" id="form-edit-submit" value="edit">
    </div>
</div>
</div>
</body>
<script>
    layui.use(['form'], function () {
        var $ = layui.$,
            form = layui.form,
            moduleUrl = "/waf_rule/";
        setTimeout(function () {
            form.render();
        },100);
    });
</script>
</html>
