[# th:each="domain : ${domains}"]#[(${domain.url})][# th:each="cache : ${domain.domainCaches}"][# th:each="content : ${cache.contents}"][# th:if="${cache.cacheType == 1}"]
dest_domain=[(${domain.url})] suffix=[(${content})] method=GET scheme=http ttl-in-cache=[(${cache.cacheTime})][(${cache.limitTime})][/][# th:if="${cache.cacheType == 2}"]url_regex=[(${domain.url})][(${content})]$ scheme=http ttl-in-cache=[(${cache.cacheTime})][(${cache.limitTime})][/][/]
[/]
[/]
