<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>safeMaintenance</title>
    <th:block th:replace="head::jsCss"></th:block>
</head>
<body>
<div class="layui-form" lay-filter="form-add-edit" id="form-add-edit" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id">

    <div class="layui-form-item">
        <label class="layui-form-label">IP或网段</label>
        <div class="layui-input-block">
            <input type="text" name="ip" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-block">
            <select name="auth" class="layui-select">
                <option value="允许">允许连接</option>
                <option value="拒绝">拒绝连接</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="form-add-submit" id="form-add-submit" value="add">
        <input type="button" lay-submit lay-filter="form-edit-submit" id="form-edit-submit" value="edit">
    </div>
</div>
</div>
</body>
<script>
    layui.use(['form'], function () {
        var $ = layui.$,
            form = layui.form,
            moduleUrl = "/safe_maintenance/";
        setTimeout(function () {
            form.render();
        },100);
    });
</script>
</html>
